.bookNowMainGrid{
    display: grid;
    grid-template-rows: 250px auto;
}

.bookNowMainGridInside{
    display: grid;
    grid-template-rows: 250px auto;
    grid-row: 2;
    grid-template-columns: auto auto auto;
}

.BookNowHeader{
    display: block;
    grid-row: 1;
    /* background-color: blueviolet; */
}
.BookBodyContent{
    display: block;
    grid-row: 1;
    grid-column: 2;
    /* background-color: blueviolet; */
}

.bodyCard{
    margin-bottom: 20px;
}
.buttonMargins{
    margin-top: 80px;
    margin-bottom: 20px;
}
.BookBodyContentButton{
    display: block;
    grid-row: 2;
    grid-column: 3;
    /* position:absolute;
    right: 0; */
    float: right;
    position:absolute; 
    bottom: 50px;
    right:50px;
    background-color: red;
}

.BookNowHeaderCard{
    height: 15rem;
}

.BookNowHeaderCardInside{
    display: grid;
    grid-template-columns: 250px auto;
    /* background-color: aqua; */
    grid-template-rows: 30px 150px 62px;
}
.icon{
    width: 150px;
    height: 150px;
}
.BookNowHeaderInsideContainerIcon{
    display: block;
    grid-row: 2;
    grid-column: 1;
    margin-left: 15px;
}

.BookNowHeaderInsideContainerText{
    display: block;
    grid-column: 2;
    /* background-color: red; */
    grid-row: 2;
}

.textStylesBookNow{
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.textStylesGenre{
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.textStylesMoreInfo{
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.InfoIcon{
    margin-right: 15px;
    height: 30px;
    width: 30px;
}