.cardTemplateAdvance{

    /* background-color: blue; */

    max-width:  50rem;

    height: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;

}
div.mainDivCard{
  
  display: grid;
  grid-template-columns: auto auto auto;
  
}

.cardTemplateButton{

  /* background-color: blue; */

  max-width:  30rem;

  height: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  margin-right: 30px;
  margin-left:15px;
}
.marginSetBtn{
  margin-top: 50px;
}
.buttonNavigate{
  width: 300px;
  margin-top: 20px;
}
div.grid-containerButtonBar{
  grid-column:1;
  display: block;
  margin-top: 50px;
}
div.grid-containerAdvanceMainDivCard{
  margin-top: 50px;
  display: block;
  grid-column:2;
}
div.mainDivCardProfile{
  display: grid;
  grid-template-columns: auto auto;

}

.profileIcon{
  height: 150px;
  width: 100px;
}

div.grid-mainDivCardAdvanceProfile{
  display: block;
  grid-column:2;
}

div.mainDivFormAdvance{
    grid-column:1;
    display: grid;
    grid-template-columns: auto auto;
    /* background-color: aqua; */
}

.updateButtonWidth{
    width: 170px;
    margin-right: 20px;
}
div.changeGoBackBtnPosition{
    display: grid;
    grid-template-columns: auto auto auto;
}

div.DeleteButtonPosition{
    display: block;
    grid-column: 3;
    background-color: aqua;
    position: absolute;
    right: 10px;
}
div.bodyTitlePosition{
    display: block;
    grid-column:1;
}

div.bodyBackBtnPosition{
    display: block;
    grid-column:3;
    position: absolute;
    right: 15px;
}
.grid-containerOneFormAdvance {
    display: block;
    grid-column:1;
    width: 175px;
    height: 50px;
    /* background-color: red; */
  }
.grid-containerTwoFormAdvance {
    display: block;
    grid-column:2;
    height: 50px;
    width: 350px;
    /* background-color: blue; */
  }