.mainDivMovie{
    display: grid;
    grid-template-columns: auto auto  auto  auto;
    margin-top: 30px;
    grid-template-rows: 30rem;
    text-align: left;

}

.grid-containerMovie{
    display: block;
    grid-column:auto;

  }
  .textNowShowingMovieDetails{
      margin-left: 10px;
  }

.ButtonLocationMain{
    display: grid;
    grid-template-columns: auto auto  auto;
    height: 45px;
    margin-top: 10px;
}

.ButtonLocation{
    display: block;
    grid-column:3;

}
  .nowShowingMovieCard{

      margin-left: 20px;
      margin-right: 20px;

      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 10px;
  }

  .movieLabel{
      margin-right: 10px;
      margin-top: 10px;
  }

  .imageMovie{
    display: block;
      height: 200px;
      width: 160px;
    }
      .grid-card{
          display: grid;
          grid-template-columns: auto 200px;
      }

      .moviePicture{
          display: block;
          grid-column: 1;
      }

      
      .movieDetails{
        display: block;
        grid-column: 2;
    }

    /* .container {
        position: relative;
        width: 50%;
      } */
      .container{
        position: relative;
      }
      /* .image {
        display: block;
        width: 100%;
        height: auto;
      } */